.buttonRow {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#showListButton {
   /* width: 70%; */
    padding: 0.7rem;
    background-color: #00cccc;
    text-decoration: none;
    margin-top: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace, 'Courier New', Courier; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
}

#showListButton:hover {
    opacity: 0.80;
    box-shadow: 10px 5px 5px rgb(2, 97, 99);
}