th, td, tr {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #eee;
    color: #555;;
}

.tableLongWeekendsListContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tableLongWeekendsList {
    border-collapse: collapse;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 
    0px 10px 20px rgba(0, 0, 0, 0.05), 
    0px 20px 20px rgba(0, 0, 0, 0.05), 
    0px 30px 20px rgba(0, 0, 0, 0.05);
    width: 90%;
    font-size: 0.8rem;
}

.tableHeadList * th {
    background: #00cccc;
    color: #fff;
    text-transform: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.tableBodyList > tr:hover {
    background: #f4f4f4;
    font-weight: bold;
}

/* .listItem:hover {
    font-weight: bold;
} */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tableLongWeekendsListContainer {
        padding: 0.7rem;
        
    }
    .tableLongWeekendsList {
        font-size: 1rem;
    }
    .tableHeadList * th {
        text-transform: uppercase;
    } 
    
}
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    th, td, tr  {
        padding: 0.8rem;
    }
    .tableLongWeekendsList {
        font-size: 1rem;
        width: 70%;
    }

    .tableHeadList * th {
        text-transform: uppercase;
    } 
}
@media only screen and (min-width: 1200px) {
    th, td, tr  {
        padding: 0.8rem;
    }

    .tableLongWeekendsList {
        font-size: 1rem;
        width: 45%;
    } 

    .tableHeadList * th {
        text-transform: uppercase;
    } 
}
