.mainPageHeader {
    background-image: url('./seaUnsplash.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.motivationQuestion {
    font-family: monospace, 'Courier New', Courier; 
    color: #fff;
    text-align: center;
    padding-top:10%;
}

.secondParagraph {
    padding-top: 3rem;
}