.headerSection {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    color:#00cccc;
}

#headerLogo {
    display: flex;
    background-image: url('../../images/waves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 4rem;
    align-items: center;
}

#logo {
   padding-left: 3rem;
   height: 60%;
}

h3 {
    margin-top: -0.5rem;
}
