
h4 {
    margin-top: -0.5rem;
}

.headerContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    color: #00cccc;
}

#headerLogo {
    display: flex;
    background-image: url('../../images/waves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

#logo {
    justify-content: center;
    height: 60%;
}



@media only screen and (min-width: 1200px) {
    h3 {
        font-size: 1.3rem;
    }
    
    #headerLogo {
        justify-content: flex-start;
    }

    #logo {
        padding-left: 3rem;
        
    }
}